/node_modules
/logs
/*/logs
/*/**/project
/*/**/target
/target
/tmp
/.history
.idea
/.idea/*
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/phantomjsdriver.log
/atlassian-ide-plugin.xml
.DS_Store
*.swp
/snapshots
/journal
/projectFilesBackup
psgr-mongo/project